@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
	background: url("../images/KK.JPG");
	background-size: cover;

}


#logo {
  position: absolute;
  top: 30px;
  left: 10%;
  color: white;
  font-size: 40px;
 
 
}
.navigation-wrapper {
  position: relative;
}
.navigation-button {
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 100px;
  background: transparent;
  cursor: pointer;
}
.navigation-button img {
  border: 6px solid #000;
  border-radius: 3px;
  padding: 10px;
  background: #fff;
  height: 15px;
  width: 15px;
	
}
 

.navigation-menu ul li {
  list-style: none;
  font-family: impact;
  font-weight: 300;
  color: hsl(0,0%,70%);
}

.navigation-menu {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  background: #fff;
  height: 100%;
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
  z-index: 1;
}
.navigation-menu ul {
  transform: skewX(-8deg);
  transform-origin: top left;
  position: fixed;
  right: 120px;
  top: 120px;
  width: 400px;
  text-align: right;

}
.navigation-menu ul li {
  position: relative;
    z-index: 999;
  font-size: 32px;
  color: hsl(0,0%,10%);
  line-height: 64px;
}
.navigation-menu ul li  a {
  border: none;
  color: hsl(0,0%,10%);
  text-decoration: none;
}
.navigation-menu.active {
  transform: skewX(8deg) translate(0,0);
    
}

.navigation-menu li {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all .0s ease-in .3s;
  
}
.navigation-menu.active li {
  opacity: 1;
  transform: translate(0,0);
  transition: all .2s ease-in 0s;
}
.navigation-menu.active li:nth-child(1) {
  transition-delay: .3s;
}
.navigation-menu.active li:nth-child(2) {
  transition-delay: .4s;
}
.navigation-menu.active li:nth-child(3) {
  transition-delay: .5s;
}
.navigation-menu.active li:nth-child(4) {
  transition-delay: .6s;
}
.navigation-menu.active li:nth-child(5) {
  transition-delay: .7s;
}
.navigation-menu.active li:nth-child(6) {
  transition-delay: .8s;
}
        .hero h1{
             
            margin-top: 178px;
            text-transform: uppercase;
            font-family: impact;
            font-size: 26px;
            letter-spacing: 4px;
            color: white;
            
             
        } 
        
        span{
            font-size: 65px;
            letter-spacing: 2px;
            font-family: impact;
        }

.mobile {
	position: relative;
	width: 270px;
	height: 480px;
	background: #020c17;
	
}

.top{
	position: absolute;
	top: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	
}

.top:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background: #ccc;
	border: 2px solid #aaa;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #999;
}

.top:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40px;
	height: 3px;
	background: #333;
	border: 2px solid #aaa;
	border-radius: 3px;
}


.bottom{
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	
}

.bottom:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;
	height: 15px;
	border: 2px solid #999;
	cursor: pointer;
	border-radius: 6px;
}


.screen{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	
}

.screen img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0;
	transition: 0.5s;
	
}
.screen.active img{
	opacity: 1;
}
.screen:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	z-index: 1;
	transform: skewX(-5deg);
}

h2{
	color: #fff;
	font-weight: 200;
	font-size: 3.5em;
	z-index: 1;
	transform: translateY(50px);
	line-height: 0.4em;
	transition: 0.5;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	opacity: 0;
}

h2 span
{
	font-size: 0.4em;
}

.screen.active h2{
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.5s;
	
}

.screen ul{
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	display: flex;
	z-index: 1;
	justify-content: space-around;
	width: 100%;
}

.screen ul li {
	list-style: none;
	color: #fff;
	font-size: 1.5em;
	padding-bottom: 10px;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}

.screen.active ul li{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}

.screen.active ul li:nth-child(2){
	transition-delay: .7s;
}
.screen.active ul li:nth-child(3){
	transition-delay: .9s;
}
.screen.active ul li:nth-child(4){
	transition-delay: 1.1s;
}

.screen.active ul li .fa{
	transition: 0.5
}
.screen.active ul li:hover .fa{
	transform: translateY(-10px);
}